p {
    margin: 0;
}
.test0 {
    color: #61dafb;
}
.test1 {
    color: #FEA;
}
.test2 {
    color: #FDA;
}
.test3 {
    color: #FCA;
}
.test4 {
    color: #FBA;
}
.test5 {
    color: #FAA;
}
.test6 {
    color: #F88;
}
.test7 {
    color: #F77;
}
.test8 {
    color: #F66;
}
.test9 {
    color: #F55;
}
.test10 {
    color: #F44;
}
.test11 {
    color: #F33;
}
.test12 {
    color: #F22;
}
.test13 {
    color: #F11;
}
.test14 {
    color: #F00;
}
.test15 {
    color: #D00;
}
.test16 {
    color: #C00;
}
.test17 {
    color: #B00;
}
.test18 {
    color: #A00;
}
.test19 {
    color: #900;
}
.test20 {
    color: #800;
}
.test21 {
    color: #700;
}
.test22 {
    color: #600;
}
.test23 {
    color: #500;
}
.test24 {
    color: #400;
}
.test25 {
    color: #300;
}
.test26 {
    color: #200;
}
.test27 {
    color: #100;
}
.test28 {
    color: #000;
}
.test29 {
    color: #111;
}
.test30 {
    color: #222;
}
.test31 {
    color: #333;
}